.Auth{
    margin:20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding:10px;
    box-sizing: border-box;
}
.Auth p{
    color:rgb(212, 6, 6);
    font-size:0.8rem;
    margin:0;
    padding: 0;

}


@media (min-width:600px) {
    .Auth{
        width:500px;
    }
}